.header{
  padding: 46px 0 56px;
}
.header-row{
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}
/* .header-logo{
  display: flex;
  align-items: center;
  column-gap: 13px;
} */
.header-logo-link{
  display: flex;
  align-items: center;
  column-gap: 13px;
  color: #000;
}
.header-menu-btn{
  display: none;
}
.header-menu-btn span{
  display: block;
  height: 1px;
  width: 50px;
  background-color: var(--textColor);
  margin-bottom: 10px;
}
.header-logo span{
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.header-nav-menu{
  display: flex;
  column-gap: 65px;
  /*  */
  text-align: center;
  transition: ease .7s;
}
.header-nav-link{
  color: var(--textColor);
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
  transition: 0.5s;
}
.header-nav-link:hover{
  color: var(--yellow)
}
a.header-nav-btn{
  border-radius: 7px;
  background-color: #000;
  padding: 13px 22px 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: white;
}
a.header-nav-btn:hover{
  background-color: var(--yellow);
  color: #000;
}
.header-nav-menu.menu-open{
  transform: translateY(0%);
}
.menu-close-btn{
  display: none;
}